<!DOCTYPE html>
<html ng-app="nawrs">
<head>
  <title>Native American Water Rights Settlement Mapper</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="nawrs/angular/angular.min.js"></script>
  <script src="nawrs/leaflet/dist/leaflet.js"></script>
  <script src="nawrs/angular-simple-logger/dist/angular-simple-logger.js"></script>
  <script src="nawrs/ui-leaflet/dist/ui-leaflet.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/elasticsearch/12.1.3/elasticsearch.angular.min.js"></script>
  <script src="nawrs/ng-table/bundles/ng-table.min.js"></script>
  <script src="nawrs/javascripts/app.dev.js"></script>
  <link rel="stylesheet" href="nawrs/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="nawrs/stylesheets/ol.css" type="text/css">
  <link rel="stylesheet" href="nawrs/stylesheets/style.css" type="text/css">
  <link rel="stylesheet" href="nawrs/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="nawrs/stylesheets/ng-table.min.css" type="text/css">
</head>

<body>
  <div ng-controller="geoSearch">
    <leaflet center="centroid" tiles="tiles" controls="controls" layers="layers" legend="legend" event-broadcast="events" style="width: 75%; height: 480px;"></leaflet>
    <br /><br />
    <div ng-show="show_no_result">
      <p style="padding-left:15%;">{{noResult}}</p>
    </div>
    <br /><br />
    <section class="results">
      <div ng-show="waiting" style="font-family:sans-serif;background-color:rgba(255,255,255, 0.8);width:100%;height:20%;padding-left:30%;">
	<p>Loading content, please wait. <br/><br/>
	  <img src="http://www.nawrs.net/images/30.gif" />
	</p>
	<br />
      </div>
      <table ng-table="vm.tableParams" class="table" show-filter="false" style="width: 75%;">
        <tr ng-repeat="doc in docs">
          <td title="'Title'" filter="{title: 'text'}" sortable="'title'">
            {{doc.title}}</td>
            <td title="'URL'" filter="{url: 'text'}" sortable="'url'">
              <a href="{{doc.identifier}}">{{doc.identifier}}</a></td>
              <td title="'Type'" filter="{type: 'text'}" sortable="'type'">
                {{doc.type}}</td>
              </tr>
            </table>
          </section>
          <section class="ui">
            <div class="pane">
              <img id="logo" src="https://raw.githubusercontent.com/nawrs/nawrs-web/master/images/nawrs.png" alt="NAWRS Logo" >
              <h2>Keyword Search</h2>
              <section class="searchField">
                <form ng-submit="search()">
                  <input type="text" ng-model="searchTerm">
                  <input type="submit" value="Search">
                </form>
              </section>
              <br />
              <div>
                <h4>Select a Baselayer</h4>
                <p>
                  <button ng-click="changeTiles('osm')" class="btn btn-sm" style="background-color:rgb(4, 112, 184);color:white;">Street</button>
                  <button ng-click="changeTiles('stamen_ter')" class="btn btn-sm" style="background-color:rgb(4, 112, 184);color:white;">Terrain</button>
                  <button ng-click="changeTiles('esri_world')" class="btn btn-sm" style="background-color:rgb(4, 112, 184);color:white;">Satellite</button>
                </p>
                <hr />
              </div>
              <div>
                <h5>About the NAWRS Mapper</h5>
                <div style="font-size: small;">
                <p>This application provides metadata and geospatial discovery of Native American Water Rights Settlment documents available from
                  the University of New Mexico's Digital Repository at
                  <a href="http://digitalrepository.unm.edu/nawrs/">http://digitalrepository.unm.edu/nawrs/</a>.
                </p>
                <p>
                  To search, enter a keyword or search term in the text box above. Results can be refined using the
                  filters provided below. </p>
                  <!--p>
                    Alternatively, searches can be started using just facets to search documents by
                    geospatial properties including their corresponding watershed, state, or tribal boundaries.
                  </p-->
                </div>
                  <hr />
              </div>
	      <div>
		<!--button ng-click="resetSearch()" class="btn btn-sm" style="background-color:rgb(4, 112, 184);color:white;">Reset Search</button>
		<br /><br/-->
		<button ng-click="clearFacets()" class="btn btn-sm" style="background-color:rgb(0, 0, 0);color:white;">Remove All Filters</button>
		<br /><br />
		<h5>Watersheds&nbsp;&nbsp;<button ng-click="clearWtshd()" class="btn btn-sm" style="font-size:.7em;background-color:rgb(4, 112, 184);color:white;">Clear Selection</button></h5>
		<form>
		  <label ng-repeat="ws in wtshd_check | orderBy: '_source.features.properties.NAME'">
		    <input
		       type="radio"
		       name="watershedFacets"
		       ng-value="ws"
		       ng-model="geo_facets.watershed"
		       ng-change='set_wtshd()'
		       >
		    {{ws._source.features.properties.NAME}}&nbsp;&nbsp;
		  </label>
		</form>
		<h5>States&nbsp;&nbsp<button ng-click="clearState()" class="btn btn-sm" style="font-size:.7em;background-color:rgb(4, 112, 184);color:white;">Clear Selection</button></h5>
		<form>
		  <label ng-repeat="st in state_check | orderBy: '_source.features.properties.NAME'">
		    <input
		       type="radio"
		       name="stateFacets"
		       ng-value="st"
		       ng-model="geo_facets.state"
		       ng-change='set_state()'
			   >
		    {{st._source.features.properties.NAME}}&nbsp;&nbsp;
		  </label>
		</form>
		<h5>Tribal Boundaries&nbsp;&nbsp<button ng-click="clearTblbd()" class="btn btn-sm" style="font-size:.7em;background-color:rgb(4, 112, 184);color:white;">Clear Selection</button></h5>
		<form>
		  <label ng-repeat="tb in tblbd_check | orderBy: '_source.features.properties.NAMELSAD'">
		    <input
			   type="radio"
			   name="tribalBoundaryFacets"
			   ng-value="tb"
			   ng-model="geo_facets.tblbd"
			   ng-change='set_tblbd()'
		       >
		    {{tb._source.features.properties.NAMELSAD}}&nbsp;&nbsp;
		  </label>
		</form>
	      </div>
        </body>
        </html>
