<!DOCTYPE html>
<html ng-app="nawrsapp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/leaflet/dist/leaflet.js"></script>
  <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
  <script src="bower_components/ui-leaflet/dist/ui-leaflet.min.js"></script>
  <script src="bower_components/elasticsearch/elasticsearch.angular.js"></script>
  <!--script src="basicmap/basicmap.js"></script-->
  <script src="app.js"></script>
  <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="css/ol.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
  <div>
    <div ng-controller="mapCtrl">
      <leaflet id="map-elastic" center="elasticcentroid" layers="layers" event-broadcast="events" geojson="elasticjson" style="width: 75%; height: 480px;"></leaflet>
      <!--div>
        {{ selectedState.properties.name || 'No state'}}
      </div-->
      <br /><br />

      <section class="results">
        <div class="no-docs" ng-hide="docs.length">No results</div>
        <article class="doc" ng-repeat="doc in docs" ng-cloak>
          <p>
            {{doc.title}}: <a href="{{doc.identifier}}">{{doc.identifier}}</a>
          </p>
        </article>
        <div class="load-more" ng-hide="allResults" ng-cloak>
          <a ng-click="loadMore()">More...</a>
        </div>
      </section>
      <div class="pane">
        <img id="logo" src="https://raw.githubusercontent.com/nawrs/nawrs-web/master/images/nawrs.png" alt="NAWRS Logo" >
        <h2>Keyword Search</h2>
        <section class="searchField">
          <form ng-submit="search()">
            <input type="text" ng-model="searchTerm">
            <input type="submit" value="Search">
          </form>
        </section>
      </div>
    </div>
  </body>
  </html>
