<!DOCTYPE html>
<html ng-app="nawrs">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/leaflet/dist/leaflet.js"></script>
  <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
  <script src="bower_components/ui-leaflet/dist/ui-leaflet.min.js"></script>
  <script src="bower_components/elasticsearch/elasticsearch.angular.js"></script>
  <script src="bower_components/ng-table/bundles/ng-table.min.js"></script>
  <!--script src="basicmap/basicmap.js"></script-->
  <script src="app.js"></script>
  <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
  <!--link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/-->
  <link rel="stylesheet" href="css/ol.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/ng-table.min.css" type="text/css">
  <!--link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" /-->
</head>

<body>
  <div ng-controller="geoSearch">
    <leaflet center="centroid" tiles="tiles" layers="layers" event-broadcast="events" style="width: 75%; height: 480px;"></leaflet>
    <br /><br />
    <br /><br />
    <section class="results">
      <table ng-table="vm.tableParams" class="table" show-filter="false" style="width: 75%;">
        <tr ng-repeat="doc in docs">
          <td title="'Title'" filter="{title: 'text'}" sortable="'title'">
            {{doc.title}}</td>
            <td title="'URL'" filter="{url: 'text'}" sortable="'url'">
              <a href="{{doc.identifier}}">{{doc.identifier}}</a></td>
              <td title="'Type'" filter="{type: 'text'}" sortable="'type'">
                {{doc.type}}</td>
              </tr>
            </table>
            <div class="pane">
              <img id="logo" src="https://raw.githubusercontent.com/nawrs/nawrs-web/master/images/nawrs.png" alt="NAWRS Logo" >
              <h2>Keyword Search</h2>
              <section class="searchField">
                <form ng-submit="search()">
                  <input type="text" ng-model="searchTerm">
                  <input type="submit" value="Search">
                </form>
              </section>
              <div>
                <br /><br />
                <h4>Select a Baselayer</h4>
                <p>
                  <button ng-click="changeTiles('osm')" class="btn btn-default" style="min-width:200px; background-color:rgb(4, 112, 184);color:white;">OpenStreetMaps</button><br/><br />
                  <button ng-click="changeTiles('stamen_ter')" class="btn btn-default" style="min-width:200px; background-color:rgb(4, 112, 184);color:white;">Stamen Terrain</button><br/><br />
                  <button ng-click="changeTiles('esri_world')" class="btn btn-default" style="min-width:200px; background-color:rgb(4, 112, 184);color:white;">ESRI World Imagery</button>
                </p>
              </div>
              <br /><br />
              <p style="font-weight:bold;">Filter by Tribal Boundary</p>
              <select ng-model="doc_geometry.selected" ng-options="df.properties.NAMELSAD for df in doc_geometry" ng-change='set_facets()'>
                <option value="">-- choose a tribal boundary --</option>
              </select>
              <!--label ng-repeat="df in doc_geometry">
              <input
              type="checkbox"
              name="shapeFilter"
              value="df.properties.NAMELSAD"
              ng-model="df.selected"
              ng-change='set_facets()'
              > {{df.properties.NAMELSAD}}&nbsp;&nbsp;
            </label-->
              <br /><br />
              <!--p>Filter by Document Type</p>
              <form>
              <label ng-repeat="dt in doc_type">
              <input
              type="checkbox"
              name="typeFilter"
              value="dt.key"
              ng-model="dt.selected"
              ng-change='set_facets()'
              > {{dt.key}}&nbsp;({{dt.doc_count}})&nbsp;&nbsp;
            </label>
            <br /><br />
            <p>Filter by Subject</p>
            <label ng-repeat="s in subject">
            <input
            type="checkbox"
            name="typeFilter"
            value="s.key"
            ng-model="s.selected"
            ng-change='set_facets()'
            > {{s.key}}&nbsp;({{s.doc_count}})&nbsp;&nbsp;
          </label>
        </form-->
      </div>
    </section>
  </div>
</body>
</html>
